<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="login.css">



<body >


<div class="container-fluid" ng-controller="loginControl">


    <div class="heading"><center><h1><strong >TPP Management System</strong></h1></center>
    </div>
    <div class="logincontainer">
        <form name="form"  >
           
          <div class="input1">
            <div class="loginhead">
                <h2><strong>Login</strong></h2>
            </div>
            <span ng-show="invalidcred" class="errmsg"><h6>Invalid Credentials !</h6><br></span>
            <input type="text"  class="form-control" id="id" placeholder="Username" name="id" ng-model="loguname" >
            <input type="password"  class="form-control" id="id" placeholder="Password" name="name" ng-model="logpassword" >
            <div class="form-inline ">
                <input class="form-control" ng-model="loginchoice" ng-value="'admin'"  type="radio" name="loginchoice" text-align="center" id="Admin" value="Admin">
                <label class="form-control xyz1" >
                  Admin
                </label>

              </div>
              <div class="form-inline">
               
                
                <input class="form-control" ng-model="loginchoice" ng-value="'cust'" type="radio" name="loginchoice" text-align="center" id="User" value="User">
                <label class="form-control xyz1 xyz2" >
                  Student
                </label>
              </div>
            
            <button type="submit" class="btn btn-outline-primary one"  ng-Click="loginmain()" >Login</button>
           
          </div>
         
        </form>
         
    </div>

</div>



</body>
</html>